In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

# Fetch Dow Jones Industrial Average constituents from Wikipedia
url = "https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average#Components"
tables = pd.read_html(url)
dow_jones_constituents = tables[1]
dow_jones_constituents.to_csv('dow_jones_constituents.csv', index=False)

# Fetch 10 years of daily adjusted close prices for each constituent
start_date = (datetime.now() - timedelta(days=10*365)).strftime('%Y-%m-%d')

dataframes = []
for symbol in dow_jones_constituents['Symbol']:
    try:
        data = yf.download(symbol, start=start_date)
        data = data[['Adj Close']]
        data.columns = [symbol]
        dataframes.append(data)
    except Exception as e:
        print(f"Failed to fetch data for {symbol}")
dow_jones_data = pd.concat(dataframes, axis=1)
dow_jones_data.to_csv('dow_jones_data.csv')

# Load the data from the CSV files into a DataFrame and handle missing data
constituents = pd.read_csv('dow_jones_constituents.csv')
data = pd.read_csv('dow_jones_data.csv', index_col=0)
data_filled = data.ffill()
constituents.head()
data_filled.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,MMM,AXP,AMGN,AMZN,AAPL,BA,CAT,CVX,CSCO,KO,...,MRK,MSFT,NKE,PG,CRM,TRV,UNH,VZ,V,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2014-09-26,85.002594,76.279182,106.508865,16.1605,22.364161,111.902260,76.569923,79.338234,18.279800,30.726280,...,41.792831,39.681431,39.977612,63.738445,56.310020,75.233551,74.386421,30.233761,49.402393,20.803596
2014-09-29,84.865311,75.916649,105.761429,16.0910,22.222103,111.971817,76.150360,78.737373,18.367548,30.762688,...,41.806892,39.707077,39.807877,63.632935,56.977055,74.731461,74.309128,30.221609,49.166962,20.692089
2014-09-30,84.560928,75.562737,106.055885,16.1220,22.364161,110.763130,75.540138,77.933960,18.544367,31.061209,...,41.715408,39.638680,39.843597,63.105427,57.275730,74.866928,74.085808,30.367401,49.735718,20.798157
2014-10-01,83.068825,74.290100,104.817551,15.8730,22.015659,108.406670,74.456940,76.843193,18.441214,31.119453,...,41.314301,39.245377,39.173592,62.653275,56.479271,74.197472,72.908997,30.027222,48.952515,20.702965
2014-10-02,82.764435,74.342041,103.594383,15.9205,22.175482,107.971893,74.304398,76.490509,18.463327,31.061209,...,41.412827,39.125664,39.888271,62.585457,56.389664,74.173561,72.926170,29.942183,48.884926,20.732876

In [2]:
daily_returns = data_filled.pct_change()
daily_returns.head()

,MMM,AXP,AMGN,AMZN,AAPL,BA,CAT,CVX,CSCO,KO,...,MRK,MSFT,NKE,PG,CRM,TRV,UNH,VZ,V,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2014-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-29,-0.001615,-0.004753,-0.007018,-0.004301,-0.006352,0.000622,-0.005479,-0.007573,0.004800,0.001185,...,0.000336,0.000646,-0.004246,-0.001655,0.011846,-0.006674,-0.001039,-0.000402,-0.004766,-0.005360
2014-09-30,-0.003587,-0.004662,0.002784,0.001927,0.006393,-0.010795,-0.008013,-0.010204,0.009627,0.009704,...,-0.002188,-0.001723,0.000897,-0.008290,0.005242,0.001813,-0.003005,0.004824,0.011568,0.005126
2014-10-01,-0.017645,-0.016842,-0.011676,-0.015445,-0.015583,-0.021275,-0.014339,-0.013996,-0.005563,0.001875,...,-0.009615,-0.009922,-0.016816,-0.007165,-0.013906,-0.008942,-0.015884,-0.011202,-0.015747,-0.004577
2014-10-02,-0.003664,0.000699,-0.011669,0.002992,0.007259,-0.004011,-0.002049,-0.004590,0.001199,-0.001872,...,0.002385,-0.003050,0.018244,-0.001082,-0.001587,-0.000322,0.000236,-0.002832,-0.001381,0.001445

In [ ]:
biggest_losers = daily_returns.apply(lambda day: day.nsmallest(10).index, axis=1)
biggest_losers.head()

In [ ]:
# Initialize capital
capital = 100000

# Create a new dataframe to hold our capital at the end of each day
capital_over_time = pd.DataFrame(index=daily_returns.index)

# Loop over each trading day
for i in range(len(daily_returns.index) - 1):
    # Select the biggest losers for the current day
    losers = biggest_losers.iloc[i]
   
    # Get the closing prices for these stocks on the current and next trading days
    prices_today = data_filled.loc[daily_returns.index[i], losers]
    prices_tomorrow = data_filled.loc[daily_returns.index[i+1], losers]
   
    # Distribute our capital equally among these stocks and buy shares
    shares = (capital / 10) / prices_today
   
    # The next day, sell all shares at the closing price and update our capital
    capital = (shares * prices_tomorrow).sum()
   
    # Store our capital
    capital_over_time.loc[daily_returns.index[i+1], 'Capital'] = capital
capital_over_time.head()

In [ ]:
import numpy as np

# Calculate the return of our strategy
returns = capital_over_time['Capital'].pct_change().dropna()

# Calculate annualized return
annualized_return = (1 + returns.mean())**252 - 1

# Calculate annualized volatility
annualized_vol = returns.std() * np.sqrt(252)

# Calculate Sharpe ratio (assuming a risk-free rate of 0)
sharpe_ratio = annualized_return / annualized_vol

# Calculate max drawdown
rolling_max = capital_over_time['Capital'].cummax()
daily_drawdown = capital_over_time['Capital'] / rolling_max - 1.0
max_drawdown = daily_drawdown.cummin()

# Print out the calculated metrics
print('Annualized Return:', annualized_return)
print('Annualized Volatility:', annualized_vol)
print('Sharpe Ratio:', sharpe_ratio)
print('Max Drawdown:', max_drawdown.min())

In [ ]:
# Import yfinance library to fetch data from Yahoo Finance
import yfinance as yf

# Fetch the daily adjusted close prices for the DIA ETF
dia_data = yf.download('DIA', start=daily_returns.index.min(), end=daily_returns.index.max())['Adj Close']

# Calculate the daily returns for DIA
dia_returns = dia_data.pct_change().dropna()

# Calculate annualized return for DIA
dia_annualized_return = (1 + dia_returns.mean())**252 - 1

# Calculate annualized volatility for DIA
dia_annualized_vol = dia_returns.std() * np.sqrt(252)

# Calculate Sharpe ratio for DIA (assuming a risk-free rate of 0)
dia_sharpe_ratio = dia_annualized_return / dia_annualized_vol
print(dia_sharpe_ratio)

# Compare the Sharpe ratio of our mean reversion strategy with that of DI
if sharpe_ratio > dia_sharpe_ratio:
    print("Our mean reversion strategy outperformed the Dow Jones.")
else:
    print("Our mean reversion strategy didn't outperform the Dow Jones.")

In [ ]:
# Create a DataFrame to hold performance metrics for both strategies
performance_metrics = pd.DataFrame({
    'Strategy': ['Mean Reversion', 'Dow Jones'],
    'Annualized Return': [annualized_return, dia_annualized_return],
    'Annualized Volatility': [annualized_vol, dia_annualized_vol],
    'Sharpe Ratio': [sharpe_ratio, dia_sharpe_ratio]
})

# Print the DataFrame
print(performance_metrics)

# Compare Sharpe ratios to determine which strategy had the higher risk-adjusted returns
if sharpe_ratio > dia_sharpe_ratio:
    print("The mean reversion strategy had the higher risk-adjusted returns.")
else:
    print("The Dow Jones had the higher risk-adjusted returns.")